<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
	<Appenders>
		<File name="LogFile" filename="ApplicationLog.log" append="true">
			<PatternLayout pattern="%d{dd-mm-yyyy HH:mm:ss} %level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="packagename" level="INFO" additivity="false">
			<AppenderRef ref="LogFile" />
		</Logger>
	</Loggers>
</Configuration>